html{
    font-size: 62.5%;
    font-family: var(--font-family);
    color:var(--cor-texto);
    font-weight: var(--weight-light);
}

body{
    height: 100vh;
}

.fundo{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
}

.cartao{
    background-color: var(--cor-cartao);
    padding:2.6rem;
    border-radius:3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:355px;
    max-width: 90%;
    height:590px;
    max-height: 90%;
    font-size:var(--font-size);
}

.imagem-nft{
    max-width: 100%;
    height: 100%;
    border-radius: 3%;
}

.link-logo{
    position:relative;
}

.link-logo .background-logo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%,0.5);
    border-radius: 3%;
    top:0%;
    left:0%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s  ease-in-out;
}

.link-logo:hover .background-logo{
    opacity:1;
}

.link-titulo{
    align-self: flex-start;
}

.nome-nft{
    font-size: 2.2rem;
    color:var(--branco);
    font-weight: var(--weight-bold);
}

.nome-nft:hover{
    color:var(--cor-active);
}

.descricao{
    line-height: 2.5rem;
}

.valor-e-dias{
    display:flex;
    justify-content: space-between;
    font-size:1.6rem;
}

.valor{
    font-weight: var(--weight-bold);
    color:var(--cor-active);
    display:flex;
    align-items: center;
}

.valor::before{
    content:'';
    background: url(../images/icon-ethereum.svg) no-repeat center;
    width: 11px;
    height: 22px;
    display:inline-block;
    margin-right:.8rem;
}

.dias{
    display: flex;
    align-items: center;
}

.dias::before{
    content:'';
    background:url(../images/icon-clock.svg) no-repeat center ;
    width:17px;
    height:20px;
    display: inline-block;
    margin-right:.8rem;
}

hr{
    border:1px solid var(--cor-linha);
}

.avatar-e-criador{
    display:flex;
    align-items: center;
    gap:1.3rem;
}

.avatar{
    border: 1px solid white ;
    border-radius: 50%;
    width: 3.5rem;
}

.criador{
    font-size: 1.6rem;
}

.nome{
    color:var(--branco);
    font-weight: var(--weight-regular);
}

.nome:hover{
    color:var(--cor-active);
}

